@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

html {
    height: 100%;
    background-color: #fff;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #6d6f73;

    min-width: 360px;
    max-width: 100%;
    height: 100%;

    margin: 0 auto;
    word-wrap: break-word;
}

a {
  color: #0058a3;
  text-decoration: none;
}
